body{
	font-family: 'Open Sans', sans-serif;
}
*{
	margin: 0;
	padding: 0.8rem;
	box-sizing: border-box;
}
nav{
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
	padding: 0.8rem;
}
nav .nav, nav .nav-logo{
	margin: 0.5rem;
	display: inline;
}
#intro{
	/*padding-top: 2 rem
	  padding-right: 10%
	  padding-right: 10%
	  padding-bottom: 3rem
	 */
	padding: 2rem 10% 3rem;
	text-align: center;
}
.header{
	text-align: center;
}
#intro h2, #intro p{
	margin-bottom: 1rem;
}

#intro button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	font-size: 1rem;
	border-radius: 25px;
	padding: 1rem;
}
#intro button:hover{
	background-color: green;
}
#succeed-info {
	padding: 2rem 10% 3rem;

}
#succeed-info h2{
	
	margin-bottom: 1rem;
}
#succeed-info h3{
	text-align: center;
	margin-bottom: 1rem;
}
#succeed-info .card{
	display: inline-block;
	vertical-align: top;
	min-height: 250px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	border: 1px solid black;
}
footer{
	padding: 0.7rem;
}
footer span{
	margin-left: 0.5rem;
	margin-right: 0.5;
}
#pre-footer {
	background-color: #00063F;
}
#pre-footer h3{
	font-size: 1.5rem;
}
#pre-footer .card2{
	display: inline-block;
	vertical-align: top;
	min-height: 50px;
	width: 30%
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	font-weight: bold;
	color: white;
	line-height: 5px;
}